@use "variables" as v;

/** Media Queries **/
@mixin telefono {
  @media screen and (max-width: v.$telefono) {
    @content;
  }
}
@mixin tablet {
  @media screen and (min-width: v.$tablet) and (max-width: v.$tablet_max) {
    @content;
  }
}
@mixin desktop {
  @media screen and (min-width: v.$desktop) {
    @content;
  }
}
@mixin desktopXL {
  @media (min-width: v.$desktopxl) {
    @content;
  }
}

@mixin boton($bgColor, $colorTexto) {
  background-color: $bgColor;
  padding: 1.5rem 4rem;
  color: $colorTexto;
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 400;
  display: inline-block;
  font-weight: 700;
  border: none;
  transition-property: background-color;
  transition-duration: 0.3s;
  text-align: center;

  @include tablet {
    width: auto;
  }
  &:hover {
    background-color: darken($bgColor, 10%);
  }
}

@mixin grid($columnas, $espaciado) {
  display: grid;
  gap: $espaciado;
  grid-template-columns: repeat($columnas, 1fr);
}

@mixin bgImage($url, $colorDegradado) {
  background-image: linear-gradient($colorDegradado 0%, $colorDegradado 100%),
    url($url);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

@mixin headingBorder($colorTexto, $colorLinea, $fontSise, $marginTop) {
  font-size: $fontSise;
  //display: inline-block; //corta donde finaliza el contenido H2
  margin-top: $marginTop;
  color: $colorTexto;

  /*@include tablet {
    //como estamos en el mismo archivo que el mixins no es necesario el m.
    margin-top: $marginTop;
  }*/

  &::after {
    content: "";
    background-color: $colorLinea;
    height: 1rem;
    display: block;
    margin: -1.4rem 40px 0;

    @include tablet {
      width: calc(100% + 2rem);
      margin: -1.4rem 0 0 0;
    }

    @include desktop {
      width: calc(100% + 2rem);
      margin: -1.4rem 0 0 0;
    }
  }
}
