// Fuentes
$fuentePrincipal: "Open Sans", sans-serif;
$fuenteSecundaria: "Roboto" ,sans-serif;//"Roboto", cursive;

// Tamaño de Media Queries
$telefono: 720px; //480px;;
$tablet: 768px;
$tablet_max: 1023px;
$desktop: 1024px;
$desktopxl: 1200px;

// Colores
$primario: #5a47a7; //#453c5c;
$secundario: #51647a;
$terciario: #31ada1;
$cuaternario: #59d999;
$quinario: #baff60;

$negro: #000;
$blanco: #ffffff;
$gris: #eeefed;
$grisClaro: #f8f8f8;
$secundarioOpacity: rgb(57 70 89 / 0.7);
