@use 'base/mixins' as m;
@use 'base/variables' as v;

.header{
    background-color: #565656;

    &__barra{
        display: flex;
        flex-direction: column;
        margin: 0 8rem;
        
        @include m.tablet{
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }
    &__logo{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem;

        @include m.tablet { 
            margin: 0;
        }
    }

    &__nav-principal{
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        //margin-right: 8rem;

        @include m.tablet { //pantalla grande
            flex-direction: row;
            gap: 3rem;
            margin-top: 0;
        }

        a{
            text-align: center;
            color: #ffffff;
            font-size: 2rem;
            text-transform: uppercase;
            font-weight: 700;
            margin-bottom: 1rem;
            @include m.tablet { 
                margin-bottom: 0;
            }

            &.activo{
                color: v.$secundario;
            }

            &:hover{
                color: v.$secundario;
            }
        }
    }

}