@use "base/mixins" as m;
@use "base/variables" as v;

.presentacion {
  padding-top: 10rem;
  height: 770px;
  border-bottom: #dddddd solid 1px;
  background: linear-gradient(
      to right,
      rgba(245, 245, 245, 0.6),
      rgba(245, 245, 245, 0.6)
    ),
    url(https://d33wubrfki0l68.cloudfront.net/daac8858fd4a0ccea44f59dfd079c3c16c263f33/c157c/assets/svg/common-bg.svg);

  @include m.tablet {
    padding-top: 10rem;
    height: 550px;
  }

  @include m.desktop {
    padding-top: 10rem;
    height: 540px;
  }

  @include m.desktopXL {
    padding-top: 10rem;
    height: 600px;
  }

  &__grid {
    display: flex;
    flex-direction: column-reverse; //damos vuelta la columna, y la img que esta a la derecha va hacia arriba cuando es una pantalla mas chica

    @include m.tablet {
      @include m.grid(2, 1rem);
      width: 75%;
    }

    @include m.desktop {
      @include m.grid(2, 1rem);
      width: 75%;
    }
  }

  &__contenido {
    margin: auto;
    text-align: center;
    z-index: 1;

    @include m.desktop {
      border-left: v.$primario solid 8px;
    }
  }

  &__heading {
    font-size: 2.2rem;
    letter-spacing: 2px;
    text-transform: uppercase;

    @include m.tablet {
      font-size: 2.5rem;
    }

    @include m.desktop {
      font-size: 2.5rem;
    }
  }

  &__heading span {
    color: v.$primario;
  }

  &__texto {
    text-transform: uppercase;
    color: #555;
    margin: 3rem 0;

    @include m.tablet {
      font-size: 1.4rem;
      margin: 2rem 0;
    }

    @include m.desktop {
      font-size: 1.4rem;
      margin: 2rem 0;
    }
  }

  &__imagen {
    margin: 0 auto;
    width: 35%;

    @include m.telefono {
      width: 45%;
    }

    @include m.tablet {
      display: grid;
      justify-content: center;
      width: 75%;
    }

    @include m.desktop {
      display: grid;
      justify-content: center;
      width: 70%;
    }
  }

  &__imagen img {
    border-radius: 100%;
    z-index: 1;
    border-right: 9px solid slategrey;
    /*&:hover {
      filter: grayscale(100%);
      cursor: pointer;
      scale: 1.1;
    }*/
  }
}

.presentacion p {
  position: relative;
}

.frase::after {
  content: "";
  position: absolute;
  top: calc(100% + 1.5rem);
  height: 5px;
  width: 3rem;
  background: v.$primario;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}

.linkeding:hover {
  color: #0a66c2;
}

.cv:hover {
  color: #7d7b72;
}

.github:hover {
  color: #78268a;
}

.frase {
  text-align: center;
  text-transform: uppercase;
  margin-top: 4rem;
  letter-spacing: 2px;

  @include m.tablet {
    margin-top: 6rem;
  }

  @include m.desktop {
    margin-top: 8rem;
  }
}

.social-card {
  height: fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background: rgb(255, 255, 255);
  padding: 20px 25px;
  border-radius: 14px;
}
.Btn {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  position: relative;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s;
}

.svgContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  backdrop-filter: blur(0px);
  letter-spacing: 0.8px;
  border-radius: 10px;
  transition: all 0.3s;
  border: 1px solid rgba(156, 156, 156, 0.466);
  z-index: 2;
}

.BG {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #181818;
  z-index: 1;
  border-radius: 10px;
  pointer-events: none;
  transition: all 0.3s;
  font-size: 0px;
}
.github .BG {
  background: #181818;
}
.linkdin .BG {
  background: #0077b5;
}
.whatsapp .BG {
  background: #075e54;
}
.discord .BG {
  background: #7289da;
}
.Btn:hover .BG {
  transform: scale(1.5);
  /* transform-origin: bottom; */
  font-size: 20px;
  color: white;
}

.Btn:hover .svgContainer {
  border: 1px solid rgba(216, 216, 216, 0.466);
  background-color: rgba(209, 209, 209, 0.466);
  backdrop-filter: blur(4px);
}

.rama_dev {
  font-weight: 900;
  color: v.$negro;
  font-style: normal;
}
