@use "base/mixins" as m;
@use "base/variables" as v;

.proyectos {
  &__heading {
    text-align: center;
  }

  &__grid {
    text-align: center;

    @include m.grid(1, 2rem);

    @include m.tablet {
      @include m.grid(2, 2rem);
    }

    @include m.desktop {
      @include m.grid(3, 2rem);
    }
  }
}

.proyecto {
  &__contenido {
    margin: 0;
    position: relative;
  }

  &__imagen {
    aspect-ratio: 8/4.5;
    background-size: 100%;
    position: relative;
    background-repeat: no-repeat;
  }

  &__heading {
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 14px;
  }

  @for $i from 1 through 9 {
    //se va a ejecutar 6 veces
    $imagen: "../img/proyecto_" + $i + ".jpg";
    &:nth-child(#{$i}) &__imagen {
      background-image: linear-gradient(
          to bottom,
          transparentize(v.$negro, 1%) 0%,
          transparentize(v.$negro, 0.3%) 100%
        ),
        url($imagen);
    }
  }

  &__nombre {
    color: v.$blanco;
  }
}

figcaption {
  opacity: 1;
  position: relative;
  bottom: 0;
  padding: 10px 0 10px 0;
  background: rgba(255, 255, 255, 1);
  z-index: 2;
}
