@use "base/mixins" as m;
@use "base/variables" as v;

.minformacion {
  //padding-top: 5rem 0;
  height: 190rem;
  background-color: white;
  margin: 3rem;
  padding: 3rem;
  box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);

  @include m.tablet {
    height: 1600px;
    margin: 5rem;
    padding: 5rem;
  }

  @include m.desktop {
    height: 1100px;
    margin: 4rem;
    padding: 4rem;
  }

  @include m.desktopXL {
    height: 1100px;
    margin: 5rem;
    padding: 5rem;
  }

  &__heading {
    position: relative;
    top: 0;
    color: v.$negro;
    text-transform: uppercase;
    @include m.headingBorder(v.$negro, v.$quinario, 2.6rem, 0);

    @include m.tablet {
      display: inline-block;
      top: 3rem;
      @include m.headingBorder(v.$negro, v.$quinario, 3.6rem, 0);
    }

    @include m.desktop {
      display: inline-block;
      top: 3rem;
      @include m.headingBorder(v.$negro, v.$quinario, 3.6rem, 0);
    }
  }

  &__contenido {
    position: relative;
    top: 1rem;
    background-color: #ffffff5c;
    border-radius: 3%;

    @include m.tablet {
      top: 5rem;
      margin: 0 2rem;
      letter-spacing: 1px;
    }

    @include m.desktop {
      top: 5rem;
      margin: 0 5rem;
      letter-spacing: 1px;
    }

    @include m.desktopXL {
      top: 5rem;
      margin: 0 15rem;
      letter-spacing: 1px;
    }
  }

  &__texto {
    text-align: justify;

    /*@include m.tablet {
      text-align: justify;
    }

    @include m.desktop {
      text-align: justify;
    }*/
  }

  &__grid {
    display: grid;
    @include m.grid(1, 0);

    @include m.tablet {
      @include m.grid(1, 0rem);
    }

    @include m.desktop {
      @include m.grid(2, 2rem);
    }
  }

  &__imagen {
    width: 50%;
  }
}

.minformacion h2 {
  text-align: center;
}

.experiencias {
  display: flex;
  flex-direction: column;
  //justify-content: center;

  &__heading {
    font-size: 2.6rem;
    text-align: center;
    color: v.$primario;

    @include m.tablet {
      text-align: left;
    }
  }

  &__laboral {
    position: relative;
    height: 100px;
    margin: 5rem 5rem 0rem 5rem;

    @include m.tablet {
      margin: 2rem 3rem;
    }

    @include m.desktop {
      margin: 5rem 0 0 10rem;
    }
  }
}

.empresa {
  font-size: 18px;
  font-weight: bold;
  &:hover {
    color: v.$secundario;
  }
}

.posicion {
  font-size: 12px;
  text-transform: uppercase;
}

.fecha {
  font-size: 12px;
}

.experiencias__laboral:first-child {
  margin-top: 0;
}

.experiencias__laboral::before {
  content: ""; //no vamos agregar contenido significa
  background: v.$quinario;
  height: 150%;
  left: -20px;
  position: absolute;
  top: -24%;
  width: 3px;
}

.experiencias__laboral::after {
  background: v.$quinario;
  border-radius: 100%;
  content: "";
  height: 20px;
  left: -28px;
  position: absolute;
  top: 0px;
  width: 20px;
}

.habilidades {
  position: relative;
  top: 5rem;
  text-align: center;

  @include m.tablet {
    top: 0;
  }

  &__grid {
    @include m.grid(1, 5rem);
    position: relative;
    top: 5rem;

    @include m.tablet {
      @include m.grid(1, 5rem);
    }

    @include m.desktop {
      @include m.grid(2, 5rem);
    }
  }

  &__imagen img {
    display: inline-block;
    max-width: 80%;

    @include m.tablet {
      max-width: 60%;
    }

    @include m.desktop {
      max-width: 100%;
    }
  }

  &__titulo {
    text-transform: uppercase;
    font-size: 3rem;
  }

  &__skills {
    @include m.grid(2, 1rem);
    position: relative;
    top: 2rem;

    @include m.tablet {
      @include m.grid(4, 1rem);
    }

    @include m.desktop {
      @include m.grid(4, 1rem);
    }
  }
}

.skills__skill {
  background: hsl(0deg 0% 60% / 20%);
  border-radius: 5px;
  color: #666;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 1rem 2rem;
  text-transform: uppercase;
  &:hover {
    color: v.$primario;
    transform: scale(1.1); /*se agranda al pasar el cursor*/
    background-size: 30rem;
  }
}
