@use "base/mixins" as m;
@use "base/variables" as v;

.minformacion {
  margin: 5rem 0;

  &__texto {
    text-align: center;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  &__imagen {
    width: 50%;
  }
}

.minformacion h2 {
  text-align: center;
}
