@use "base/mixins" as m;
@use "base/variables" as v;

.minformacion {
  //padding-top: 5rem 0;
  height: 746px;
  background-color: white;
  margin: 5rem;
  padding: 5rem;
  box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);

  &__heading {
    position: relative;
    top: 3rem;
    color: v.$negro;
    text-transform: uppercase;
    @include m.headingBorder(v.$negro, v.$quinario);
  }

  &__contenido {
    position: relative;
    top: 5rem;
    background-color: #ffffff5c;
    border-radius: 3%;
    margin-left: 15rem;
    margin-right: 15rem;
    letter-spacing: 1px;
  }

  &__texto {
    text-align: justify;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  &__imagen {
    width: 50%;
  }
}

.minformacion h2 {
  text-align: center;
}

.linea-de-tiempo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.experiencia-laboral {
  position: relative;
  height: 100px;
  margin: 5rem 0 0 10rem;
}

.empresa {
  font-size: 18px;
  font-weight: bold;
  &:hover {
    color: v.$secundario;
  }
}

.posicion {
  font-size: 12px;
  text-transform: uppercase;
}

.fecha {
  font-size: 12px;
}

.experiencia-laboral:first-child {
  margin-top: 0;
}

.experiencia-laboral::before {
  content: ""; //no vamos agregar contenido significa
  background: v.$secundario;
  height: 284%;
  position: absolute;
  top: -91%;
  width: 3px;
  left: -20px;
}

.experiencia-laboral::after {
  background: v.$secundario;
  border-radius: 100%;
  content: "";
  height: 20px;
  left: -28px;
  position: absolute;
  top: 0px;
  width: 20px;
}
